.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

#delete-form {
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

.comment {
    padding: 10px;
    margin: 10px auto;
    background-color: #337ab7;
    color: white;
    border-radius: 20px;
}